body {
  width: 100%;
  height: 100%;
  margin: 0%;
}

.flux {
  background-color: rgba(193, 208, 235, 0.827);
  margin-left: 15%;
  margin-right: 15%;
  height: 580px;
  padding-top: 80px;
  margin-top: 20px;
}

.container1 {
  display: block;
  justify-content: center;
  height: fit-content;
  margin-left: 38%;
  margin-right: 38%;
  background-color: white;
  margin-bottom: 40px;
  padding-top: 1px;
  padding-bottom: 2px;
  border-radius: 5px;
  box-shadow: 8px 8px 8px rgb(149, 167, 214);
}

p {
  text-align: center;
  color: rgb(98, 139, 234);
  font-size: 13px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
}

.container2 {
  display: block;
  justify-content: center;
  height: fit-content;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
}

.line-text {
  height: 30px;
  background-color: blanchedalmond;
  color: rgb(92, 88, 88);
  border: solid;
  border-color: white;
  border-right: none;
  width: 90%;
}

.line-button {
  height: 37px;
  background-color: blanchedalmond;
  color: rgb(92, 88, 88);
  border: solid;
  border-left: none;
  border-color: white;
  width: 10%;
}

.line-output {
  height: 50px;
  background-color: blanchedalmond;
  color: rgb(92, 88, 88);
  border: solid;
  border-color: white;
}

.flex {
  display: flex;
}

img {
  width: 100%;
  height: 100%;
}

/* RETIRER LE CADRE NOIR AUTOUR DU CHAMP DE SAISI */
input[type="text"]:focus {
	outline:none;
}

footer {
  padding-top: 5px;
  text-align: center;
  font-size: 10px;
  height: 20px;
  margin-left: 15%;
  margin-right: 15%;
  font-family: Arial, Helvetica, sans-serif;
}

ul { 
  background-color: blanchedalmond;
  border: solid;
  border-color: white;
  margin-top: -20px;
}

li {
  height: fit-content;
  list-style-type: none;
  margin-left: -42px;
  margin-right: -2px;
  background-color:  blanchedalmond;
  text-align: left;
  border-left: solid;
  border-right: solid;
  border-color: white;
}

.flex {
  display: flex;
}

.partOfSpeech {
  width: 20%;
  color: rgb(92, 88, 88);
  font-weight: 100;
  background-color:  blanchedalmond;
  text-align: left;
}

.definition {
  width: 80%;
  color: rgb(92, 88, 88);
  font-weight: 200;
  background-color:  blanchedalmond;
  text-align: left;
}