body {
  width: 100%;
  height: 100%;
  margin: 0%;
}

.flux {
  background-color: rgba(193, 208, 235, 0.827);
  margin-left: 15%;
  margin-right: 15%;
  height: 580px;
  padding-top: 70px;
  margin-top: 20px;
}

/* TITRE */

.container1 {
  display: block;
  justify-content: center;
  height: fit-content;
  margin-left: 40%;
  margin-right: 40%;
  background-color: white;
  margin-bottom: 40px;
  padding-top: 1px;
  padding-bottom: 2px;
  border-radius: 5px;
  box-shadow: 8px 8px 8px rgb(149, 167, 214);
}

.title {
  text-align: center;
  color: rgb(98, 139, 234);
  font-size: 13px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
  font-size: 16px;
  margin-bottom: -10px;
}


.flag {
  display: block;
  justify-content: center;
  height: fit-content;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: -2px;
}

.img-flag {
  width: 120%;
  height: 120%;
}

/* CONTAINER SAISIE */

.container2 {
  display: block;
  justify-content: center;
  height: fit-content;
  width: 520px;
  margin-right: auto;
  margin-left: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-hidden {
  display: none;
}

.display-dialog {
  display: none;
}

.form-dialog {
  display: flex;
  justify-content: center;
}

.line-text {
  height: 50px;
  background-color: blanchedalmond;
  color: rgb(92, 88, 88);
  border: solid;
  border-color: white;
  border-right: none;
  width: 90%;
  font-size: 18px;
  padding-left: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.line-button {
  height: 56.5px;
  background-color: blanchedalmond;
  color: rgb(92, 88, 88);
  border: solid;
  border-left: none;
  border-color: white;
  width: 15%;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

::line-text.selection {
  background-color: blanchedalmond;

}

::placeholder {
  font-size: 15px;
}

.line-output {
  height: 50px;
  background-color: blanchedalmond;
  color: rgb(92, 88, 88);
  border: solid;
  border-color: white;
}

.line-output-phonetic {
  height: 50px;
  background-color: blanchedalmond;
  color: rgb(92, 88, 88);
  border-bottom: solid;
  border-left: solid;
  border-right: solid;
  border-color: white;
}

.border-word {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.flex {
  display: flex;
}

img {
  width: 70%;
  height: 70%;
}

/* RETIRER LE CADRE NOIR AUTOUR DU CHAMP DE SAISI */
input[type="text"]:focus {
	outline:none;
}

ul { 
  background-color: blanchedalmond;
  border: solid;
  border-color: white;
  margin-top: -5px;
}

li {
  height: fit-content;
  list-style-type: none;
  margin-left: -42px;
  margin-right: -2px;
  background-color:  blanchedalmond;
  text-align: left;
  border-left: solid;
  border-right: solid;
  border-color: white;
}

.flex {
  display: flex;
  align-items: center;
}

.partOfSpeech {
  width: 25%;
  color: rgb(92, 88, 88);
  font-weight: 100;
  background-color:  blanchedalmond;
  text-align: left;
  padding-left: 5px;
  font-size: 13px;
}

.definition {
  width: 75%;
  color: rgb(92, 88, 88);
  font-weight: 550;
  background-color:  blanchedalmond;
  text-align: left;
  font-size: 13px;
}

.img-ecoute {
  width: 50%;
  width: 50%;
  padding-right: 10px;
}

.audio-w1 {
  width: 25%;
}

.audio-w2 {
  width: 60%;
}

.audio-w3 {
  width: 15%;
  text-align: right;
}

.display-none {
  display: none;
}

.border-list {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.refresh {
  height: 40px;
  width: 40px;
  margin-left: auto;
  margin-right: auto;

}

.img-refresh {
  width: 100%;
  height: 100%;
}

/* FOOTER */

footer {
  padding-top: 5px;
  text-align: center;
  font-size: 10px;
  height: 20px;
  margin-left: 15%;
  margin-right: 15%;
  font-family: Arial, Helvetica, sans-serif;
}

/** MEDIA QUERY **/

@media (max-width: 900px) {
  .flux {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 760px) {
  .flux {
    margin-left: 1%;
    margin-right: 1%;
  }

  .container2 {
    width: 400px;
  }
}